[submodule "home-manager"]
	path = home-manager
	url = git@github.com:nix-community/home-manager.git
	remote = "DamienCassou git@github.com:DamienCassou/home-manager.git"
[submodule "emacs-overlay"]
	path = emacs-overlay
	url = git@github.com:nix-community/emacs-overlay.git
	remote = "DamienCassou git@github.com:DamienCassou/emacs-overlay.git"
[submodule "stylix"]
	path = stylix
	url = git@github.com:danth/stylix.git
	remote = "DamienCassou git@github.com:DamienCassou/stylix.git"
